/**
 * Site header
 */
.site-header {
  border-top: 0px solid $border-color-03;
  border-bottom: 1.8px solid #3C629F;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  // Positioning context for the mobile navigation icon
  position: sticky;
  top: -54px;
  padding-top: 14px;
  background-color: black;
  backdrop-filter: none;
}

@media (max-width: 600px){ // 폰 메뉴 업데이트: 휴대폰화면일 때 경우 고려하여 코드 작성
  .site-header {
    border-top: 0px solid $border-color-03;
    border-bottom: none;
    min-height: $spacing-unit * 1.3;
    line-height: $base-line-height * $base-font-size * 2.25;
    // Positioning context for the mobile navigation icon
    position: sticky;
    top: 0px;
    padding-top: 3px;
    background-color: #2E2E2E;
  }
}

// 커스텀

/*
.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}
*/

.site-nav {
  position: absolute;
  top: 9px; 
  right: $spacing-unit * .5;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  margin-left: 24%; // nav bar 업데이트 : 고정값 주어 navigation 바 일관성 있는 마진 줌
  margin-right: 10px; // nav bar 업데이트 : 고정값 주어 navigation 바 일관성 있는 마진 줌


  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 85px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  /*
  label[for="nav-trigger"] { // 폰 메뉴 업데이트 전
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  */

  input[id="nav-trigger"] + label{ // 폰 메뉴 업데이트
    display: block;
    width: 60px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  input[id="nav-trigger"] + label + #phone-trigger{ // 폰 메뉴 업데이트
    position:fixed;
    float: right;
    width:120px;
    height:350px;
    background:white;
    padding:60px 25px 25px 25px;
    box-sizing:border-box;
    top:0;
    left:-150px;
    z-index:1;
  }

  input[id="nav-trigger"]:checked + label + #phone-trigger{
    left:0;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-trigger {
    display: inline-flex;
    width: 97%; // nav bar 업데이트: nav bar 폭 조정
    flex: auto;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .page-link {
    cursor: pointer;
    color: $text-color;
    line-height: $base-line-height;
    display: inline;
    text-decoration: none; // nav bar 업데이트: 마우스 갖다댈시 밑줄 생성 제거
    padding: 5px 10px;
    font-family: $base-font-family;
    font-weight: bold;
    font-size: 26px;
    &:is(:first-child){ // nav bar 업데이트: (nav 바 요소 별 위치 설정)
      margin-left: 15%;
    }
    &:is(:last-child){ // nav bar 업데이트: (nav 바 요소 별 위치 설정)
      margin-right: 8%;
    }
    
    margin-left:auto; // nav bar 업데이트: auto 값 주어 화면을 축소해도 알아서 요소간 간격이 조정되게 함
    margin-right:auto; // 위와 동일
  }

  // wsss.tisttory.com/117 
  // nav bar 업데이트: 메뉴 버튼 클릭시 해당 텍스트가 천천히 커지도록 함 
  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);
  .page-link:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }

  .page-link {
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
  }

  ul li {
    display: inline-flex;
  }

  ul li a{
    position: relative;
    top: 0;
    left: 0;
    right: 25em;
    bottom:0;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    text-align:flex; // nav bar 업데이트: 변경 부분, 메뉴 텍스트 flex
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;
      &:is(:first-child){ // nav bar 업데이트: (nav 바 요소 별 위치 설정)
        margin-left: 8%;
      }
      &:is(:last-child){ // nav bar 업데이트: (nav 바 요소 별 위치 설정)
        margin-right: 8%;
      }
      
      margin-left:auto; // nav bar 업데이트: auto 값 주어 화면을 축소해도 알아서 요소간 간격이 조정되게 함
      margin-right:auto; // 위와 동일
    }
      
    .phone-trigger { // 폰 메뉴 업데이트: 폰 화면일때 제외하고 표시 안함
      display: none;
    }

  }

  @media (max-width: 1100px){ // nav bar 업데이트: 최소화면일 때 경우 고려하여 코드 작성
    position: static;
    text-align: flex;
    top: 9px; 
    right: $spacing-unit * .5;
    background-color: inherit;
    border: none;
    border-radius: 5px;
    margin-left: 10px; // nav bar 업데이트: 고정값 주어 일관성 있는 마진 줌
    margin-right: 10px; // nav bar 업데이트: 고정값 주어 일관성 있는 마진 줌

    .page-trigger{
      margin-left: 11px;
    }
  }

  
  @media (max-width: 600px){ // 폰 메뉴 업데이트: 휴대폰화면일 때 경우 고려하여 코드 작성
    input ~ .page-trigger {
      clear: both;
      display: none;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}


@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}





/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  padding-left:400px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

@media (max-width: 768px) { /* 화면 너비가 768px 이하인 경우에만 적용 */
  .page-content {
    padding-left:0px;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}


/**
* Home page
**/
.hero{
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
}

.site-title{
  cursor: default;
  position: absolute;
  display: flex;
  font-family: $base-font-family;
  font-size: 4.5vh;
  font-weight: bold;
  margin-top: 20%;
  margin-left: 25%;
  margin-right: 25px;
  text-align: right;
  z-index: 10;
  
}



.hero img{
  height: 100%;
}

@media (max-width: 1400px){
  .hero{
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
  }
  
  
  .hero img{
    height: 100%;
  }
}

@media (max-width: 1100px){
  .hero{
    display: none;
  }
  .page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
    padding-left:0px;
  }
}
