// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
:root {
    --accordion-menu-fs: 1.2rem;
    --accordion-icon-width: 15px;
    --accordion-icon-weight: 2px;
  }

.accordion {
width: 100%;
margin: 0;
}

.accordion-group {
    &:is(.menuon) {
      .accordion-menu:before {
        rotate: 0deg;
      }
    }
  
    &:nth-child(1) {
      background: #000000;
    }
    &:nth-child(2) {
      background: #000000;
    }
    &:nth-child(3) {
      background: #000000;
    }
  }

.accordion-menu {
    font-size: 1.6rem;
    color: $link-hover-color;
    padding: 2.5vw;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;

    &:before {
        height: var(--accordion-icon-weight);
        position: absolute;
        right: 5vw;
        background: $link-hover-color;
        content: "";
        transition: all 0.3s ease;
        width: 15px;
        rotate: -90deg;
    }

    &:after {
        height: var(--accordion-icon-weight);
        position: absolute;
        right: 5vw;
        background: $link-hover-color;
        content: "";
        transition: all 0.3s ease;
        width: 15px;
    }
}

.accordion-content {
    height: 0;
    overflow: hidden;
    font-size: 1rem;
}

.accordion-content.expanded {
    height: 0;
    overflow: hidden;
}


p {
    padding-inline: 3.7vw;
    padding-block-end: 2vw;
    color: $link-hover-color;
    font-size: 1.25rem;
    max-width: 60ch;
}
  

.menuon .accordion-content {
height: auto;
}


.notice{
  border-bottom: 1.8px solid gray;
}


.category-before{
  -webkit-tap-highlight-color: transparent;
  margin-left: 19%;
  margin-bottom: 45px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 40;
  
  color: black;
  position: fixed;
  font-weight: bold;
  font-size:45px;
}

.category-before:hover{
  transition: 0.5s;
  margin-left: 19.5%;
  font-size: 50px;
}


@media (max-width: 1200px){
  #catemenu1{
    display: none;
  }
  .not-phone-menu{
    display: none;
  }
}

// 더보기 메뉴 업데이트 
#more-box {
  // background-color: green; // #292C36;
  background-color: black;
  height: 100%;
  left: -25%;
  z-index: 100;
  top: 0;
  position: fixed;
  width: 24.9%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.more{
  -webkit-transform: matrix(1, 0, 0, 1, 30, 0);
  -moz-transform: matrix(1, 0, 0, 1, 30, 0);
  transform: matrix(1, 0, 0, 1, 30, 0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.expand-menu{
  opacity: 0;
}

.expand-box{
  background-color: grey;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 60;
}

#button-box{
  height: 45px;
}

.close-category{
  -webkit-tap-highlight-color: transparent;
  margin-left: 10%;
  margin-bottom: 45px;
  height: 50px;
  cursor: pointer;
  left: 0;
  bottom: 0;
  z-index: 80;
  color: $link-hover-color;
  position: fixed;
  font-weight: bold;
  font-size:45px;
  transition: 0.8s;
}

#close-category:hover{
  transition: 0.3s;
  margin-left: 18%;
  font-size: 50px;
}

.profile-link-icon{
  -webkit-tap-highlight-color: transparent;
  margin-left: 75%;
  margin-bottom: 45px;
  height: 50px;
  cursor: pointer;
  left: 0;
  bottom: 0;
  z-index: 80;
  color: $link-hover-color;
  position: fixed;
  font-weight: bold;
  font-size:45px;
  transition: 0.8s;
}

#profile-link-icon:hover{
  transition: 0.3s;
  font-size: 50px;
}


.home-link-icon{
  -webkit-tap-highlight-color: transparent;
  margin-left: 42.5%;
  margin-bottom: 45px;
  height: 50px;
  cursor: pointer;
  left: 0;
  bottom: 0;
  z-index: 80;
  color: $link-hover-color;
  position: fixed;
  font-weight: bold;
  font-size:45px;
  
}

#home-link-icon:hover{
  transition: 0.3s;
  font-size: 50px;
}

.close-box{
  background-color: grey;
  -webkit-transform: translateX(92%);
  -moz-transform: translateX(92%);
  transform: translateX(92%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 60;
}

@media (max-width: 1200px){
  #more-box{
    display: none;
  }
}

#category-text-box{
  width: 100%;
  height: auto;
  margin-top: 60px;
  text-align: center;
}

.category-font{
  font-size: 45px;
  font-weight: bold;
}

.category-list-box{
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 60%;
  overflow: auto;
  text-align: center;
  background-color: black;
}

.category-list-box::-webkit-scrollbar {
  width: 5px;
  margin-right: 20px;
  background-color: black;
}

.category-list-box::-webkit-scrollbar-thumb {
  width: 5px;
  height: 20px;
  background-color: #585858;
}



// 더보기 메뉴 업데이트 : 아코디언 메뉴 
.category-title{
  text-align: left;
  font-size: 30px;
}

.category-menu {
  text-align: left;
  font-size: 20px;
  color: $link-hover-color;
  margin-left: 10%;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
  transition: 0.3s;
  padding-bottom: 10px;
 
  /*&:before {
      height: var(--accordion-icon-weight);
      position: fixed;
      right: 5%;
      background: $link-hover-color;
      content: "";
      transition: all 0.3s ease;
      width: var(--accordion-icon-width);
      rotate: -90deg;
  }

  &:after {
      height: var(--accordion-icon-weight);
      position: fixed;
      right: 5%;
      background: $link-hover-color;
      content: "";
      transition: all 0.3s ease;
      width: var(--accordion-icon-width);
  }*/
}

.category-menu:hover{
  font-size: 23px;
  transition: 0.3s;
}


#category-group {
  &:is(.menuon) {
    .category-menu:before {
      rotate: 0deg;
    }
  }

  &:nth-child(1) {
    background: black;
  }
  &:nth-child(2) {
    background: black;
  }
  &:nth-child(3) {
    background: black;
  }
}

.category-content {
  height: 0;
  margin-left: 10%;
  overflow: hidden;
  font-size: 1rem;
  text-align: left;
  a {
    color: $link-hover-color;
  }
  a:hover{
    color: white;
  }
}

.category-content.expanded {
  height: 0;
  overflow: hidden;
  //border-bottom: solid gray 1px;
}

.menuon .category-content {
  height: auto;
  background-color: black;
  //border-bottom: solid gray 1px; 
}  

// body { cursor: ns-resize }
.intro-section {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-section {
  --scroll-length: 1.5;
  height: calc( var(--scroll-length) * 100vh );
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  .content .subheading, 
  .content .paragraph {
    color: #D8D8D8;
    opacity: 1; 
    opacity: calc( 1.9 + var(--viewport-y) );
  }
 
}

.figure {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;

  > img { // 🥕
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 35em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  padding: 2em;
  font-size: 2.5vmin;

  * {
    text-shadow: 0 0 4vmin rgba(black, 0.25);
  }

  > .header {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  > .paragraph {
    grid-row: 2 / 3;
    line-height: 1.5;
  }

} 

.heading {
  font-size: 2.75em;
  margin: 0;
}


.subheading {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: .5em;
}

/* ---------------------------------- */

.figure {
  --scale: calc(.8 + 
    (.2 * var(--scroll-length) * var(--visible-y))
  );
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  display: block; 
  overflow: hidden;
  will-change: transform;
  transform: scale(var(--scale));

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(black, 1);
    opacity: calc( var(--visible-y) );
  }

  > img {
    display: block;
    will-change: transform;
    transform: scale(calc(1 / var(--scale)));
  }
}

/* ---------------------------------- */

.char {
  display: inline-block;
  opacity: calc( 
    1 + ( 
      ( var(--viewport-y) * 1.5 )
      - var(--char-percent)
    )
  );
}


.content-section {
  position: relative;
  box-sizing: border-box;
}


#chartdiv {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 80%;
}


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.contact-title{
  font-size: 40px;
  color: white;
}

.contact-content{
  font-size: 20px;
  color: white;
}

.site-footer-profile {
  border-top: 1.2px solid white;
}