<!DOCTYPE html>  
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>

    <div class = "hero">
        <h2 class="site-title">Bioinsight techblog</h2>
        <img class = "feature-img" src="{{ 'assets/hompict3.png' | relative_url }}" />
    </div>
    <div class="container">
      {%- include header.html -%}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
      {%- include footer.html -%}
    </div>
  </body>
</html>