---
layout: base
---


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    
  <div id="category-menu" class="category-before">
    <!--svg id="catemenu1" viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <line x1="1" y1="16" 
            x2="15" y2="1" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="1" y1="14" 
            x2="15" y2="30" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="16" y1="16" 
            x2="29" y2="1" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="16" y1="14" 
            x2="29" y2="30" 
            stroke="#848484" 
            stroke-width="5"/>
    </svg-->
    &#10095;&#10095;
  </div>
  <div id="more-box">
    hi
    <div id="close-category">
      &#10094;&#10094;	
    </div>
  </div>
  <header class="post-header">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      Date: {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <h2>Comments</h2>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="https://utteranc.es/client.js"
        repo="rlagksqls17/rlagksqls17.github.io"
        issue-term="url"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>

<script type=text/javascript> 
  $(document).ready(function(){
    $("#category-menu").hide(); // 탑 버튼 숨김 	
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) { // 스크롤 내릴 표시
          $('#category-menu').fadeIn();
        }else {
          $('#category-menu').fadeOut();
        }
      });     
    });
  });	
</script>

<script type=text/javascript>
  $(function(){
    $("#category-menu").mouseover(function(){
      $('#more-box').addClass('more');
    })
    $("#category-menu").mouseleave(function(){
      $('#more-box').removeClass('more');
    })
    $('#category-menu').click(function(){
      $('#more-box').removeClass('more');
      $('#more-box').addClass('expand-box');

      $('#close-category').addClass('close-category');
    })
    $('#close-category').click(function(){
      $('#more-box').removeClass('close-box');
      $('#more-box').removeClass('expand-box');
      $('#close-category').removeClass('close-category');
      $('#category-menu').addClass('category-before'); 
    })
    $("#close-category").mouseover(function(){
      $('#more-box').addClass('close-box');
    })
    $("#close-category").mouseleave(function(){
      $('#more-box').removeClass('close-box');
    })
  })
</script>