---
layout: base
---


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    
  <div id="category-menu" class="category-before">
    <!--svg id="catemenu1" viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <line x1="1" y1="16" 
            x2="15" y2="1" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="1" y1="14" 
            x2="15" y2="30" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="16" y1="16" 
            x2="29" y2="1" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="16" y1="14" 
            x2="29" y2="30" 
            stroke="#848484" 
            stroke-width="5"/>
    </svg-->
    <div class="not-phone-menu">&#10095;&#10095;</div>
  </div>
  <div id="more-box">
    <div id="category-text-box">
      <h1 class="category-font">Categories</h1>
    </div>
    <div class="category-list-box">
      <h1 class="category-title">Project</h1>
      <div id="category-group">
        <div class="category-menu">
            Github blog 리모델링
        </div>
        <div class="category-content">
          <a href="/project/2024/03/20/github1.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; 와이어프레임 구축</a>
          <br>
          <a href="/project/2024/03/27/github2.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; 초기 세팅</a>
          <br>
          <a href="/project/2024/04/18/github3.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; 이미지 삽입</a>
          <br>
          <a href="/project/2024/04/30/github4.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; 페이지 생성</a>
          <br>
          <a href="/project/2024/05/02/github5.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; 헤더 수정</a>
          <br>
          <a href="/project/2024/05/15/github6.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; 카테고리 추가</a>
          <br>
          <br>
        </div>
      </div>
      <div id="category-group">
        <div class="category-menu">
          WMS 시퀀싱 데이터 분석 및 연구
        </div>
        <div class="category-content">
          <a href="/project/2024/05/16/wgs.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; 개요</a>
          <br>
          <a href="/project/2024/05/17/wgs2.html">&ensp;&ensp;&ensp;&ensp;&ensp;&#183; QC와 트리밍</a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div id="button-box">
      <div id="close-category">
        &#10094;&#10094;	
      </div>
      <a href="/">
        <div id="home-link-icon" href="/">
          &#x2302;
        </div>
      </a>      
      <a href="/profile">
        <div id="profile-link-icon" href="/profile">
          &#9982;
        </div>
      </a>
    </div>
  </div>
  <header class="post-header">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Load TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- Load ScrollTrigger, ScrollSmoother, Flip plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Flip.min.js"></script>
   
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      Date: {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <h2>Comments</h2>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="https://utteranc.es/client.js"
        repo="rlagksqls17/rlagksqls17.github.io"
        issue-term="url"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>

<script type=text/javascript> 
  $(document).ready(function(){
    $("#category-menu").hide(); // 탑 버튼 숨김 	
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) { // 스크롤 내릴 표시
          $('#category-menu').fadeIn();
        }else {
          $('#category-menu').fadeOut();
        }
      });     
    });
  });	
</script>

<script type=text/javascript>
  $(function(){
    $("#category-menu").mouseover(function(){
      $('#more-box').addClass('more');
    })
    $("#category-menu").mouseleave(function(){
      $('#more-box').removeClass('more');
    })
    $('#category-menu').click(function(){
      $('#more-box').removeClass('more');
      $('#more-box').addClass('expand-box');
      $('#close-category').addClass('close-category');
      $('#profile-link-icon').addClass('profile-link-icon');
      $('#home-link-icon').addClass('home-link-icon');
    })
    $('#close-category').click(function(){
      $('#more-box').removeClass('close-box');
      $('#more-box').removeClass('expand-box');
      $('#close-category').removeClass('close-category');
      $('#category-menu').addClass('category-before');
      $('#profile-link-icon').removeClass('profile-link-icon');
      $('#home-link-icon').removeClass('home-link-icon'); 
    })
    $("#close-category").mouseover(function(){
      $('#more-box').addClass('close-box');
    })
    $("#close-category").mouseleave(function(){
      $('#more-box').removeClass('close-box');
    })
  })
</script>

<script>
  // 아코디언 메뉴 기능
  const groups = gsap.utils.toArray("#category-group");

  groups.forEach((el) => {
    el.addEventListener("click", () => toggleMenu(el));
  });

  function toggleMenu(clickedEl) {
    // 클릭된 요소 외 모든 요소에서 'menuon' 클래스 제거
    groups.forEach((el) => {
      if (el !== clickedEl) {
        el.classList.remove("menuon");
      }
    });

    // 클릭된 요소의 현재 상태 저장
    let state = Flip.getState(clickedEl.querySelector(".category-content"));
    
    // 클릭된 요소의 'menuon' 클래스 토글
    clickedEl.classList.toggle("menuon");
    
    // 이전 상태에서 새 상태로 애니메이션 효과 적용
    Flip.from(state, {
      duration: 0.5,
      ease: "Circ.easeInOut",
      onComplete: () => ScrollTrigger.refresh()
    });
  }

  ScrollTrigger.addEventListener("refresh", () => console.log("refresh"));
</script>