---
layout: baseprofile
---


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    
  <div id="category-menu" class="category-before">
    <!--svg id="catemenu1" viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <line x1="1" y1="16" 
            x2="15" y2="1" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="1" y1="14" 
            x2="15" y2="30" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="16" y1="16" 
            x2="29" y2="1" 
            stroke="#848484" 
            stroke-width="5"/>
      <line x1="16" y1="14" 
            x2="29" y2="30" 
            stroke="#848484" 
            stroke-width="5"/>
    </svg-->
    <div class="not-phone-menu">&#10095;&#10095;</div>
  </div>
  <div id="more-box">
    <div id="category-text-box">
      <h1 class="category-font">Categories</h1>
    </div>
    <div class="category-list-box">
      <h1 class="category-title">Project</h1>
      <div id="category-group">
        <div class="category-menu">
            Github blog 리모델링
        </div>
        <div class="category-content">
          <a href="/project/2024/03/20/github1.html">&#183; 와이어프레임 구축</a>
          <br>
          <a href="/project/2024/03/27/github2.html">&#183; 초기 세팅</a>
          <br>
          <a href="/project/2024/04/18/github3.html">&#183; 이미지 삽입</a>
          <br>
          <a href="/project/2024/04/30/github4.html">&#183; 페이지 생성</a>
          <br>
          <a href="/project/2024/05/02/github5.html">&#183; 헤더 수정</a>
          <br>
          <a href="/project/2024/05/15/github6.html">&#183; 카테고리 추가</a>
          <br>
          <br>
        </div>
      </div>
      <div id="category-group">
        <div class="category-menu">
          WMS 데이터 분석
        </div>
        <div class="category-content">
          <a href="/project/2024/05/16/wgs.html">&#183; 개요</a>
          <br>
          <a href="/project/2024/05/17/wgs2.html">&#183; QC와 트리밍</a>
          <br>
          <a href="/project/2024/06/14/wgs3.html">&#183; human genome filtering</a>
          <br>
          <br>
        </div>
      </div>
      <div id="category-group">
        <div class="category-menu">
          데이터 분석 팀 프로젝트
        </div>
        <div class="category-content">
          <a href="https://rlagksqls17.github.io/blog/2021/10/10/eliceproject2.html">&#183; 코로나 전/후 배달 현황 1</a>
            <br>
            <a href="https://rlagksqls17.github.io/blog/2021/10/23/eliceproject3.html">&#183; 코로나 전/후 배달 현황 2</a>
            <br>
            <a href="https://rlagksqls17.github.io/blog/2021/11/21/eliceproject4.html">&#183; 유튜브 댓글 분석 1</a>
            <br>
            <a href="https://rlagksqls17.github.io/blog/2021/12/17/teamproject3.html">&#183; 유튜브 댓글 분석 2</a>
            <br>
            <br>
        </div>
      </div>
      <h1 class="category-title">Note</h1>
      <div id="category-group">
        <div class="category-menu">
            Python3
        </div>
        <div class="category-content">
          <a href="https://rlagksqls17.github.io/project/2024/07/06/pythontime.html">&#183; 프로파일링하기 (기술 모음)</a>
          <br>
          <a href="https://rlagksqls17.github.io/proejct/2024/05/30/pythonGIL.html">&#183; GIL에 대하여</a>
          <br>
          <br>
        </div>
      </div>
      <div id="category-group">
        <div class="category-menu">
            Linux
        </div>
        <div class="category-content">
          <a href="https://rlagksqls17.github.io/project/2024/07/06/pythontime.html">&#183; 가용메모리 제한</a>
          <br>
          <br>
        </div>
      </div>
      
    </div>
    <div id="button-box">
      <div id="close-category">
        &#10094;&#10094;	
      </div>
      <a href="/">
        <div id="home-link-icon" href="/">
          &#x2302;
        </div>
      </a>      
      <a href="/profile">
        <div id="profile-link-icon" href="/profile">
          &#9982;
        </div>
      </a>
    </div>
  </div>
  <header class="post-header">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Load TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- Load ScrollTrigger, ScrollSmoother, Flip plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Flip.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
        
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    
      
    <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
    
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        
    <!-- Photos via Unsplash Source https://source.unsplash.com/ -->
    <section class="content-section" data-scroll>
      <figure class="figure"><img src="{{ '../assets/profile11.jpg' | relative_url }}" /></figure>
      <div class="content">
        <header class="header">
          <div class="subheading"><br/><br/><br/><br/><br/>Profile</div>
          <h2 class="heading">HanBin Kim</h2>
		  <p class="paragraph">(2021.03) 강원대 생명과학과 학사 졸업<br/>(2021.12) 데이터 & AI 부트캠프 수료<br/>(2024.08) 강원대 분자의생명융합학과 석사 졸업<br/>(현) 강원대 의생명과학연구소 주임연구원<br/>과학기술정보통신부 중견연구 과제 수행 중<br/><br/>주요 수행 이력<br/>- 빅데이터분석기사 자격증<br/>- 대학 학부생 전공 강의 (파이썬 & 리눅스, 75회)<br/>- 논문: https://doi.org/10.1038/s41598-024-72467-z <br/><br/></p><h2 class="heading">"Pain is an old friend"</h2>
        </header>
        
        <p class="paragraph">
          안녕하세요. 저는 현재 생물정보학 분야 업무 수행 중이며, 연구의 속도보다 목적에 맞는 정확하고 깊은 데이터 분석을 좀 더 중요시합니다.   
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </p>
      </div>
    </section>

    <!--section class="content-section" data-scroll>
      <figure class="figure"><img src="{{ '../assets/profile6.jpg' | relative_url }}" /></figure>
      <div class="content">
        <header class="header">
          <div class="subheading"><br/><br/><br/>My skill</div>
          <h2 class="heading">Skill graph</h2><br />
        </header>
          <script src="//cdn.amcharts.com/lib/5/index.js"></script>
          <script src="//cdn.amcharts.com/lib/5/hierarchy.js"></script>
          <script src="//cdn.amcharts.com/lib/5/themes/Animated.js"></script>
          <div id="chartdiv"></div>
          <div class="temp-box"></div>
      </div>
    </section-->
    <!--
    <section class="content-section" data-scroll>
      <figure class="figure"><img src="{{ '../assets/profile8.jpg' | relative_url }}" /></figure>
      <div class="content">
        <header class="header">
          <div class="subheading">2020</div>
          <h2 class="heading">프로그래밍에 관심을 가지다</h2>
          </header>
        <p class="paragraph">
          학부 연구생으로, 저는 유전학 실험실에서 약물 농도 계산 등을 하느라 여러 복잡한 계산을 하는 상황이 많았습니다.
          <br/>
          <br/>
          <br/>
          어떻게 하면 원하는 계산을 더 빠르게 수행할 수 있을까 고민했고, 이때부터 C언어 수업을 들으며 코딩에 흥미를 붙이기 시작했습니다.
          <br/>
          <br/>
          <br/>
          이후에는 교수님의 지원을 받으면서, 접속이 안되는 특정 데이터 분석 사이트 대신, 다른 오픈 소스 코드를 참조하여 직접 <a href="https://github.com/rlagksqls17/copied_CRISPERCAS9_bio" target="_blank" rel="noopener noreferrer">CRISPR/Cas9 효율 분석기 개선 시도</a>를 해보기도 했습니다.
          <br/>
          <br/>
          <br/><br/><br/><br/>
          <br/>
          <br/>
          <br/>
        </p>
      </div>
    </section>

    <section class="content-section" data-scroll>
      <figure class="figure"><img src="{{ '../assets/profile10.png' | relative_url }}" /></figure>
      <div class="content">
        <header class="header">
          <div class="subheading">2021</div>
          <h2 class="heading">부트캠프 참여와 자격증 취득</h2>
          </header>
        <p class="paragraph">
          졸업 후 IT 기술에 더 많은 호기심을 가졌고, 관련된 여러 분야를 경험하고자 웹 개발 및 데이터 분석 부트캠프에 반년 간 참여했습니다.  
          <br/>
          <br/>
          <br/>
          다음의 팀 프로젝트를 수행하며, 부트캠프 대상 및 기업 면담 기회를 얻을 수 있었습니다.
          <br/>
          <a href="https://github.com/rlagksqls17/Teamproject_delivery_food_fighter?tab=readme-ov-file" target="_blank" rel="noopener noreferrer">1. 코로나 전/후 배달서비스 이용현황 분석 사이트</a>
          <br/>
          <a href="https://github.com/rlagksqls17/TeamProject_youtubeNLP" target="_blank" rel="noopener noreferrer">2. AI 자연어 처리: 유튜브 댓글 분석 사이트</a>
          <br/>
          <br/>
          <br/>
          이 경험들을 통해 데이터 분석으로의 진로를 결정하게 됐고, 같은 년도에는 빅데이터분석기사 자격증을 취득하였습니다. 
          <br/><br/><br/><br/>
          <div style="font-size: 15px;">* 좌측 메뉴 클릭하여 개인 경험담 살펴볼 수 있습니다.</div>
          <br/><br/><br/><br/>
          <br/><br/>
        </p>
      </div>
    </section>
    
    <section class="content-section" data-scroll>
      <figure class="figure"><img src="{{ '../assets/profile9.jpg' | relative_url }}" /></figure>
      <div class="content">
        <header class="header">
          <div class="subheading">2022-2023</div>
          <h2 class="heading">생물정보학 분야로의 진로선택</h2>
          </header>
        <p class="paragraph">
          이후 본인이 할 수 있는 것, 하고 싶은 것을 융합해 생물정보학 분야로 진로를 선택했고, 생물정보학 연구실에서 석사 과정을 시작했습니다.
          <br/><br/><br/>
          대학원을 다니며 <a href="https://rlagksqls17.github.io/project/2024/05/16/wgs.html" target="_blank" rel="noopener noreferrer"><strong>WMS 기술</strong></a>
          을 활용하여 약물 섭취 전/후 실제 임상 코호트 데이터에서 세균의 균 구성 변화 및 항생제 내성 유전자 풍부도가 어떻게 변하는지에 대한 연구, 
          <br/><br/><br/>
          그리고 세 번의 학기 동안 <strong>파이썬 코딩 전공을 학부생들에게 강의</strong>하거나 기업과 협력하여 <strong>항체-항원 결합 모델을 전산적으로 예측</strong>하는 업무를 수행하기도 했습니다.     
          <br/><br/><br/><br/>
          <div style="font-size: 15px;">* 좌측 메뉴 클릭하여 개인 경험담 살펴볼 수 있습니다.</div>
          <br/><br/><br/><br/>
          <br/><br/>
        </p>
      </div>
    </section>
    -->
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>



<script type=text/javascript> 
  $(document).ready(function(){
    $("#category-menu").hide(); // 탑 버튼 숨김 	
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) { // 스크롤 내릴 표시
          $('#category-menu').fadeIn();
        }else {
          $('#category-menu').fadeOut();
        }
      });     
    });
  });	
</script>

<script type=text/javascript>
  $(function(){
    $("#category-menu").mouseover(function(){
      $('#more-box').addClass('more');
    })
    $("#category-menu").mouseleave(function(){
      $('#more-box').removeClass('more');
    })
    $('#category-menu').click(function(){
      $('#more-box').removeClass('more');
      $('#more-box').addClass('expand-box');
      $('#close-category').addClass('close-category');
      $('#profile-link-icon').addClass('profile-link-icon');
      $('#home-link-icon').addClass('home-link-icon');
    })
    $('#close-category').click(function(){
      $('#more-box').removeClass('close-box');
      $('#more-box').removeClass('expand-box');
      $('#close-category').removeClass('close-category');
      $('#category-menu').addClass('category-before');
      $('#profile-link-icon').removeClass('profile-link-icon');
      $('#home-link-icon').removeClass('home-link-icon'); 
    })
    $("#close-category").mouseover(function(){
      $('#more-box').addClass('close-box');
    })
    $("#close-category").mouseleave(function(){
      $('#more-box').removeClass('close-box');
    })
  })
</script>

<script>
  // 아코디언 메뉴 기능
  const groups = gsap.utils.toArray("#category-group");

  groups.forEach((el) => {
    el.addEventListener("click", () => toggleMenu(el));
  });

  function toggleMenu(clickedEl) {
    // 클릭된 요소 외 모든 요소에서 'menuon' 클래스 제거
    groups.forEach((el) => {
      if (el !== clickedEl) {
        el.classList.remove("menuon");
      }
    });

    // 클릭된 요소의 현재 상태 저장
    let state = Flip.getState(clickedEl.querySelector(".category-content"));
    
    // 클릭된 요소의 'menuon' 클래스 토글
    clickedEl.classList.toggle("menuon");
    
    // 이전 상태에서 새 상태로 애니메이션 효과 적용
    Flip.from(state, {
      duration: 0.5,
      ease: "Circ.easeInOut",
      onComplete: () => ScrollTrigger.refresh()
    });
  }

  ScrollTrigger.addEventListener("refresh", () => console.log("refresh"));
</script>

<script>
  console.clear();

  ScrollOut({
    cssProps: {
      visibleY: true,
      viewportY: true
    }
  });

  Splitting({ target: '.heading' });
</script>

<script>
  /**
   * ---------------------------------------
   * This demo was created using amCharts 5.
   *
   * For more information visit:
   * https://www.amcharts.com/
   *
   * Documentation is available at:
   * https://www.amcharts.com/docs/v5/
   * ---------------------------------------
   */

  // Create root and chart
  var root = am5.Root.new("chartdiv");

  root.setThemes([
    am5themes_Animated.new(root)
  ]);

  var container = root.container.children.push(
    am5.Container.new(root, {
      width: am5.percent(100),
      height: am5.percent(100),
      layout: root.verticalLayout
    })
  );

  var series = container.children.push(
    am5hierarchy.Sunburst.new(root, {
      downDepth: 1,
      initialDepth: 1,
      valueField: "value",
      categoryField: "name",
      childDataField: "children"
    })
  );

  // Define color set
  var colorSet = am5.ColorSet.new(root, {
    colors: [
      am5.color(0x000000), // Color for the first level
      am5.color(0x088A08),
      am5.color(0x0431B4),
      am5.color(0xDF3A01)
    ]
  });

  series.set("colors", colorSet);

  series.data.setAll([{
    name: "bioinformatics\nskills",
    children: [{
      name: "biology",
      children: [{
        name: "microbiome\n(WGS)",
        // value: 20
        children: [{
          name: "전처리\n및 EDA",
          value: 4
        }, {
          name: "유전자\n식별",
          value: 3
        }, {
          name: "분류군\n식별",
          value: 4
        }, {
          name: "assembly",
          value: 3
        }]
      }, {
        name: "실험 경험",
        children: [{
          name: "PCR",
          value: 1
        }, {
          name: "cloning",
          value: 1
        }]
      }, {
        name: "Rosetta",
        children: [{
          name: "항원-항체\n결합 모델링",
          value: 3
        }, {
          name: "항체 디자인",
          value: 3
        }]
      }, {
        name: "논문 작성\n&연구",
        children: [{
          name: "sci. rep.\n(리뷰 중)",
          value: 3
        }, {
          name: "신경학",
          value: 1
        }, {
          name: "면역학",
          value: 1
        }, {
          name: "미생물학",
          value: 3.5
        }]
      }, {
        name: "BLAST",
        value: 4.5
      }]
      }, {
      name: "통계\n& AI",
      children: [{
        name: "Scipy,\nR 분석",
        children: [{
          name: "EDA",
          value: 2.4
        }, {
          name: "집단 간\n비교",
          value: 2.4
        }, {
          name: "사후검정",
          value: 2.4
        }, {
          name: "상관관계",
          value: 2.4
        }, {
          name: "정규성\n검정",
          value: 2.4
        }]
      }, {
        name: "빅데이터\n분석기사",
        value: 5
      }, {
        name: "AI",
        children: [{
          name: "team\nproject",
          value: 2
        }, {
          name: "기초\n지식",
          value: 1
        }]
      }]
    }, {
    name: "coding",
    children: [{
      name: "python",
      children: [{
        name: "pandas",
        value : 10
      }, {
        name: "전공 강의\n(37회)",
        value : 10
      }]
    }, {
      name: "github",
      children: [{
        name: "blog",
        value: 2
      }, {
        name: "backup",
        value: 1
      }, {
        name: "협업\n경험",
        value: 1
      }]
    }, {
      name: "web\ndev.",
      children: [{
        name: "html",
        value: 0.8
      }, {
        name: "js",
        value: 0.8
      }, {
        name: "css",
        value: 0.8
      }, {
        name: "react",
        value: 0.4
      }, {
        name: "team\nproject",
        value: 2.2
      }]
    }, {
      name: "linux",
      children: [{
        name: "명령어\n활용",
        value: 3
      }, {
        name: "tool\n설치",
        value: 2
      }, {
        name: "서버\n자원 활용",
        value: 3
      }]
    }, {
      name: "R",
      children: [{
        name: "ggplot2",
        value: 3
      }, {
        name: "통계 패키지\n활용",
        value: 2
      }, {
        name: "complex\nheatmap",
        value: 3
      }]
    }]
  }]
  }]);
  series.set("selectedDataItem", series.dataItems[0]);
  series.slices.template.setAll({
  stroke: am5.color(0xffffff),
  strokeWidth: 2
});

  container.children.unshift(
    am5hierarchy.BreadcrumbBar.new(root, {
      series: series
    })
  );
</script>
