---
layout: base
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <div id="project-wrapper">
    <div id="project-content">
        <div class="accordion">
            <div class="accordion-group">
                <div class="accordion-menu">
                    Project 1
                </div>
                <div class="accordion-content">
                    <p>Project 1입니다.<br>
                    Project 설명입니다.<br>
                    Project 마무리 설명입니다.</p>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-menu">
                    Project 2
                </div>
                <div class="accordion-content">
                    <p>Project 2입니다.<br>
                    Project 설명입니다.<br>
                    Project 마무리 설명입니다.</p>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-menu">
                    Project 3
                </div>
                <div class="accordion-content">
                    <p>Project 3입니다.<br>
                    Project 설명입니다.<br>
                    Project 마무리 설명입니다.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</article>
